/* Colors */
$color_primary_dark_blue: #061258;
$color_primary_light_blue: #3866FF;
$color_primary_purple: #6F3BFF;
$color_primary_teal: #06CFC5;
$color_primary_green: #3BE3AE;
$color_primary_red: #F54269;

$color_primary_background: #33394A;
$color_secondary_background: #18223C;
$color_white_background: #F6F7FB;

$color_primary_text_dark: #101530;
$color_primary_text_light: #F6F7FB;
$color_secondary_text_dark: #33394A;
$color_secondary_text_light: #5D616F;

/* Sizes */
$nav_bar_height: 60px;
$website_max_width:  1032px;

/* margins */
$margin_xxxs: 4px;
$margin_xxs: 8px;
$margin_xs: 16px;
$margin_sm: 24px;
$margin_md: 32px;
$margin_lg: 72px;

/* Font sizes */
$font14: 14px;
$font16: 16px;
$font24: 24px;
$font34: 34px;

/* Font weights */
$font_light: 300;
$font_normal: 400;
$font_bold: 500;
